gemini-code-1781607894946.json
{
  "name": "Elite Vertical Video Pipeline - Story 9 (Production Master)",
  "nodes": [
    {
      "parameters": {},
      "id": "2420c55c-da5f-4e58-aab1-a68f644cd4a9",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 864]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "story_text",
              "name": "story_text",
              "value": "Story 9: The Restaurant Rollercoaster. Bob's journey into the restaurant industry was a masterclass in hubris and redemption. In the 1990s, he owned a highly successful wedding venue called Vintage Gardens, but the commercial kitchen sat empty Monday through Friday. He opened a full-service restaurant that turned into an absolute disaster. A dishwasher literally threw premium steaks into the outdoor dumpster during his shift to steal them later. Bleeding cash, Bob shuttered the restaurant after eight months. Decades later, pushed by his daughter to try again, Bob approached the project with deep humility, adopting the philosophy of enlightened hospitality.",
              "type": "string"
            },
            {
              "id": "character_profile",
              "name": "character_profile",
              "value": "Bob - elderly character, silver hair, sleek black rectangular glasses",
              "type": "string"
            },
            {
              "id": "cinematic_style",
              "name": "cinematic_style",
              "value": "Pixar Up animation style, 9:16 vertical format, 3D animation aesthetic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a503e03f-456d-4dfb-8240-92a4c4c88adc",
      "name": "Pipeline_Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [464, 864]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a JSON-only content pipeline processor. Your sole output must be a raw JSON array with zero additional text, markdown, code fences, or explanation.\n\nDecompose the following story into EXACTLY 4 cinematic scenes for a 9:16 vertical short-form reel.\n\nSTORY: {{ $json.story_text }}\n\nRules:\n- Output EXACTLY 4 scenes\n- Each \"narration\" field: 35-40 words exact (targets ~15s voiceover per scene → 60s total reel)\n- Each \"visual_prompt\" field: cinematic, action/lighting/framing focused, optimized for Veo 3.1 motion continuity + DALL-E 3 character consistency. No quality buzzwords.\n- Character: Bob (60s male, silver hair, black rectangular glasses)\n- No markdown, no prose, no explanation — raw JSON array only\n\nOutput format:\n[{\"scene_number\": 1, \"narration\": \"...\", \"visual_prompt\": \"...\"}, {\"scene_number\": 2, \"narration\": \"...\", \"visual_prompt\": \"...\"}, {\"scene_number\": 3, \"narration\": \"...\", \"visual_prompt\": \"...\"}, {\"scene_number\": 4, \"narration\": \"...\", \"visual_prompt\": \"...\"}]"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "660b4055-3385-4100-a750-aacd8ffc9858",
      "name": "Script_Decomposer",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [688, 864],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nlet scenes;\nif (Array.isArray(raw)) {\n  scenes = raw;\n} else if (raw.content && Array.isArray(raw.content)) {\n  scenes = raw.content;\n} else if (raw.content?.parts?.[0]?.text) {\n  const txt = raw.content.parts[0].text.replace(/```json\\n?|\\n?```/g, '').trim();\n  scenes = JSON.parse(txt);\n} else if (raw.response) {\n  scenes = typeof raw.response === 'string'\n    ? JSON.parse(raw.response.replace(/```json\\n?|\\n?```/g, '').trim())\n    : raw.response;\n} else if (raw.text) {\n  scenes = JSON.parse(raw.text.replace(/```json\\n?|\\n?```/g, '').trim());\n}\nif (!Array.isArray(scenes) || scenes.length === 0) {\n  throw new Error('Parse_Scenes failed. Raw footprint: ' + JSON.stringify(raw).slice(0, 400));\n}\nreturn scenes.map(s => ({ json: s }));"
      },
      "id": "7867439a-1556-49be-b8e3-e21ba0fcf39a",
      "name": "Parse_Scenes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [912, 864],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "10af0731-9c93-4d29-8415-e7b935c09973",
      "name": "Scene_Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1136, 864]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "35c7bcc3-29e2-490e-861f-5ea5bc317aa2",
      "name": "Rate_Limit_Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1360, 768]
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-lite-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-lite-generate-preview"
        },
        "prompt": "=3D Pixar-inspired animation style, cinematic lighting, \"Up\" movie aesthetic. Character is Bob (elderly man, silver-grey hair, sleek rectangular black glasses). Scene action: {{ $json.visual_prompt }}. Vertical 9:16 format.",
        "options": {
          "sampleCount": 1,
          "durationSeconds": 5,
          "aspectRatio": "9:16",
          "binaryPropertyOutput": "video_data"
        }
      },
      "id": "dfd70d16-99f7-438c-8b6d-0061bf9b4027",
      "name": "Google_Veo_Animator",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [1584, 768],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.narration }}",
        "options": {
          "response_format": "mp3",
          "speed": 1,
          "binaryPropertyOutput": "audio_data"
        }
      },
      "id": "3f392c96-4081-4830-8c83-24df17f8c9e2",
      "name": "OpenAI_TTS",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [1360, 960],
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "4850ff5e-0c04-45bc-bef1-bd9875b5967e",
      "name": "Asset_Synchronizer",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [1808, 864]
    },
    {
      "parameters": {
        "inputDataFieldName": "video_data",
        "name": "=Scene_{{ $('Scene_Loop').item.json.scene_number }}_Video.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1173cotTDhoR4MKiP9_MheccsFNLkwqlg",
          "mode": "list"
        },
        "options": {}
      },
      "id": "76dc1db7-0dda-4276-a42f-f83f316139d5",
      "name": "Upload_Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2032, 768],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputDataFieldName": "audio_data",
        "name": "=Scene_{{ $('Scene_Loop').item.json.scene_number }}_Audio.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1173cotTDhoR4MKiP9_MheccsFNLkwqlg",
          "mode": "list"
        },
        "options": {}
      },
      "id": "9bfc2ab4-2322-4931-96e3-cb81d7dcb7c8",
      "name": "Upload_Audio",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2032, 960],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "wait"
      },
      "id": "cd73b973-9cd9-4af8-b937-f1f44758e2d8",
      "name": "Drive_Upload_Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2256, 864]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "1fdc6907-042d-48c9-b63c-a777f908d1f0",
      "name": "Pipeline_Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1360, 500]
    },
    {
      "parameters": {
        "jsCode": "const scenes = [];\nconst numScenes = $('Parse_Scenes').all().length;\nfor (let i = 0; i < numScenes; i++) {\n  try {\n    const videoNode = $('Upload_Video').all(0, i);\n    const audioNode = $('Upload_Audio').all(0, i);\n    const original = $('Parse_Scenes').all()[i].json;\n    scenes.push({\n      scene_number: original.scene_number || (i + 1),\n      video_url: (videoNode && videoNode[0]) ? videoNode[0].json.webContentLink : '',\n      audio_url: (audioNode && audioNode[0]) ? audioNode[0].json.webContentLink : '',\n      narration: original.narration || ''\n    });\n  } catch (e) {\n    console.log(\"Error extracting loop data\", e);\n  }\n}\nscenes.sort((a, b) => a.scene_number - b.scene_number);\nreturn [{ json: { scenes, total_scenes: scenes.length } }];"
      },
      "id": "ad98e793-52cf-4930-b723-d3e6864650ef",
      "name": "Collect_Scene_Assets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1584, 500],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/v1/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"timeline\": { \"tracks\": [{ \"clips\": $json.scenes.map((s, i) => ({ \"asset\": { \"type\": \"video\", \"src\": s.video_url }, \"start\": i * 5, \"length\": 5 })) }] }, \"output\": { \"format\": \"mp4\", \"resolution\": \"sd\", \"aspectRatio\": \"9:16\" } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5f25dc60-ac04-472b-965e-dc7629db8955",
      "name": "Stitch_Videos_Shotstack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1808, 500],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "new-wait-render-node",
      "name": "Wait_Render",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2032, 500]
    },
    {
      "parameters": {
        "url": "=https://api.shotstack.io/v1/render/{{ $('Stitch_Videos_Shotstack').item.json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "3646f457-16f8-4234-882b-15c18c43214c",
      "name": "Poll_Render_Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2256, 500],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.response.status }}",
              "value2": "done"
            }
          ]
        }
      },
      "id": "new-check-render-status",
      "name": "Check_Render_Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2480, 500]
    },
    {
      "parameters": {
        "url": "={{ $json.response.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "final_video_data"
            }
          }
        }
      },
      "id": "4c2f93a2-78c0-43dc-8dec-7129f4a8c8de",
      "name": "Download_Final_Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2704, 500],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputDataFieldName": "final_video_data",
        "name": "=Story_9_Final_Reel_{{ $now.toFormat(\"yyyyMMdd_HHmmss\") }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1173cotTDhoR4MKiP9_MheccsFNLkwqlg",
          "mode": "list"
        },
        "options": {}
      },
      "id": "f2824622-3ccd-4a07-8788-0429f918b999",
      "name": "Upload_Final_Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2928, 500],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "dall-e-3"
        },
        "prompt": "=3D Pixar-inspired animation style, cinematic lighting, \"Up\" movie aesthetic. Character is Bob (elderly man, silver-grey hair, sleek rectangular black glasses). Scene: {{ $json.visual_prompt }}. Vertical 9:16 format.",
        "options": {
          "dalleQuality": "standard",
          "size": "1024x1792",
          "style": "vivid",
          "returnImageUrls": true
        }
      },
      "id": "57d05f35-98e0-4b17-b891-ee98120e3324",
      "name": "DALL_E_3_Illustrator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [240, 1184],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Pipeline_Config", "type": "main", "index": 0 }]]
    },
    "Pipeline_Config": {
      "main": [[{ "node": "Script_Decomposer", "type": "main", "index": 0 }]]
    },
    "Script_Decomposer": {
      "main": [[{ "node": "Parse_Scenes", "type": "main", "index": 0 }]]
    },
    "Parse_Scenes": {
      "main": [[{ "node": "Scene_Loop", "type": "main", "index": 0 }]]
    },
    "Scene_Loop": {
      "main": [
        [
          { "node": "Rate_Limit_Wait", "type": "main", "index": 0 },
          { "node": "OpenAI_TTS", "type": "main", "index": 0 }
        ],
        [{ "node": "Pipeline_Complete", "type": "main", "index": 0 }]
      ]
    },
    "Rate_Limit_Wait": {
      "main": [[{ "node": "Google_Veo_Animator", "type": "main", "index": 0 }]]
    },
    "Google_Veo_Animator": {
      "main": [[{ "node": "Asset_Synchronizer", "type": "main", "index": 0 }]]
    },
    "OpenAI_TTS": {
      "main": [[{ "node": "Asset_Synchronizer", "type": "main", "index": 1 }]]
    },
    "Asset_Synchronizer": {
      "main": [
        [
          { "node": "Upload_Video", "type": "main", "index": 0 },
          { "node": "Upload_Audio", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upload_Video": {
      "main": [[{ "node": "Drive_Upload_Merge", "type": "main", "index": 0 }]]
    },
    "Upload_Audio": {
      "main": [[{ "node": "Drive_Upload_Merge", "type": "main", "index": 1 }]]
    },
    "Drive_Upload_Merge": {
      "main": [[{ "node": "Scene_Loop", "type": "main", "index": 0 }]]
    },
    "Pipeline_Complete": {
      "main": [[{ "node": "Collect_Scene_Assets", "type": "main", "index": 0 }]]
    },
    "Collect_Scene_Assets": {
      "main": [[{ "node": "Stitch_Videos_Shotstack", "type": "main", "index": 0 }]]
    },
    "Stitch_Videos_Shotstack": {
      "main": [[{ "node": "Wait_Render", "type": "main", "index": 0 }]]
    },
    "Wait_Render": {
      "main": [[{ "node": "Poll_Render_Status", "type": "main", "index": 0 }]]
    },
    "Poll_Render_Status": {
      "main": [[{ "node": "Check_Render_Status", "type": "main", "index": 0 }]]
    },
    "Check_Render_Status": {
      "main": [
        [{ "node": "Download_Final_Video", "type": "main", "index": 0 }],
        [{ "node": "Wait_Render", "type": "main", "index": 0 }]
      ]
    },
    "Download_Final_Video": {
      "main": [[{ "node": "Upload_Final_Video", "type": "main", "index": 0 }]]
    }
  }
}